$colorOne: #206a5d;
$colorTwo: #81b214;
$colorThree: #ffcc29;
$colorFour: #f58634;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100vw;
  height: 100vh;

  .left-container {
    // width: 60vw;
    grid-column: 1/7;
    grid-row: 1/7;
    background-color: $colorOne;
  }
  #container-1 {
    grid-column: 7/9;
    grid-row: 1/4;

    background-color: #81b214;
  }
  #container-2 {
    grid-column: 9/11;
    grid-row: 1/4;
    background-color: #f58634;
  }
  #container-3 {
    grid-column: 7/9;
    grid-row: 4/7;
    background-color: $colorThree;
  }
  #container-4 {
    grid-column: 9/11;
    grid-row: 4/7;
    background-color: crimson;
  }
  #container-5 {
    grid-column: 1/-1;
    grid-row: 7/-1;
    background-color: teal;

    img {
      width: 100%;
      height: 100%;
      background-size: contain;
    }
  }
}
