<div class="container">
    <form action="/signin" method="POST">

<div class="mb-3">
    <label for="user" class="form-label">Name</label>
    <input name="username" type="text" class="form-control" id="user" >
   
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" >
   
 
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>

  <div class="mb-3">
    <label for="confirmpassword" class="form-label">Confirm Password</label>
    <input  name="confirmpassword"    type="password" class="form-control" id="confirmpassword">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>