<div class="banner">
<h1>The Website</h1>
<p>Authentication Website with signup and login functionality</p>
</div>

<div class="buttons">
    <form action="/login", method="POST">
        <button id="login">Login</button>
    </form>
    <form action="/signup", method="POST">
        <button id="signup">Signup</button>
    </form>
</div>

<a id="dashboard-button" href="/dashboard">dashboard</a>
<button id="signout">Sign out</button>