<div class="banner">
<h1>The Website</h1>
<p>Authentication Website with signup and login functionality</p>
</div>

<div class="buttons">
    <form action="">
        <button id="login">Login</button>
    </form>
    <form action="">
        <button id="signup">Signup</button>
    </form>
</div>

