<div class="banner">
<h1>The Website</h1>
<p>Authentication Website</p>
</div>

<div class="buttons">
    <form action="">
        <button>Login</button>
    </form>
    <form action="">
        <button>Signup</button>
    </form>
</div>

