<h1 id="loginHeading">The Website</h1>
<form id="loginForm" action="">
    <div class="username">
        <h3>Username</h3>
    <input type="text" name="username" id="username">
    </div>
   <div class="password">
       <h3>Password</h3>
    <input type="password" name="password" id="password">
   </div>
   <button type="submit"> Login</button>
</form> 

<form action="/" >

<button id="goback" type="submit"> Go back</button>
</form>