<h1 id="loginHeading">The Website</h1>
<form id="loginForm" action="">
    <div class="username">
        <h3>Username</h3>
    <input type="text" name="username" id="username">
    </div>
   
    <div class="password">
       <h3>Password</h3>
    <input type="password" name="password" id="password">
   </div>
   <div class="passwords">
        <div class="email">
        <h3>Email</h3>
    <input type="email" name="email" id="email">
    </div>
       
    <div class="confirm password">
       <h3>confirm password</h3>
    <input type="password" name="confirm password" id="confirm-password">
   </div>
   </div>
   <button type="submit"> Sign up</button>
</form> 

<form action="/" >

<button id="goback" type="submit"> Go back</button>
</form>