<h1 id="loginHeading">The Website</h1>
<form id="loginForm" action="/login" method="POST">
    <div class="username">
        <h3>Username</h3>
    <input type="text" name="username" id="username">
    </div>
   
    <div class="password">
       <h3>Password</h3>
    <input type="password" name="password" id="password">
   </div>
   <div class="passwords">
        <div class="email">
        <h3>Email</h3>
    <input type="email" name="email" id="email">
    </div>
       
    <div class="confirm password">
       <h3>confirm password</h3>
    <input type="password" name="confirm password" id="confirm-password">
   </div>
   </div>
   <button type="submit"> Sign up</button>
</form> 

<script>
    const username = document.getElementById("username");
    const email = document.getElementById("email");
    const password = document.getElementById("password");
    const confirmPassword = document.getElementById("conform-password");
    const form = document.getElementById("loginForm")

      async ()=> {
        e.preventDefault();

        const data = {
            username: username.value,
            email: email.value,
            password: confirmPassword.value,

        }
        await axios.post("/login",data);
    };
</script>


<form action="/" >
<button id="goback" type="submit"> Go back</button>
</form>