* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner {
  align-items: center;
  position: absolute;
  top: 30vh;
  left: 25vw;

  h1 {
    font-size: 150px;
    font-weight: 600;
  }
  p {
    position: absolute;
    left: 35px;
  }
}

.buttons {
  position: absolute;
  top: 53vh;
  left: 27vw;

  button {
    padding: 5px 15px 5px 15px;
    border: none;
    outline: none;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all ease-in 0.2s;
    &:hover {
      background-color: rgb(240, 212, 212);
      transform: scale(1.1);
      color: crimson;
    }
  }

  #signup {
    position: absolute;
    left: 5vw;
    top: 0px;
  }
}

#loginHeading {
  font-size: 150px;
  position: absolute;
  top: 30vh;
  left: 25vw;
  font-weight: 600;
}

#loginForm {
  position: absolute;
  top: 48vh;
  left: 27vw;
  h3 {
    margin-bottom: 10px;
    font-weight: 500;
  }

  input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid crimson;
    outline: none;
  }
  .username {
    margin-bottom: 20px;
  }

  .password {
    margin-bottom: 20px;
  }

  .email {
    margin-bottom: 20px;
  }
  button {
    padding: 5px 15px 5px 15px;
    border: none;
    outline: none;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all ease-in 0.2s;
    &:hover {
      background-color: rgb(240, 212, 212);
      transform: scale(1.1);
      color: crimson;
    }
  }
}

#goback {
  padding: 5px 15px 5px 15px;
  border: none;
  outline: none;
  background-color: crimson;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  position: absolute;
  top: 66.1vh;
  left: 33vw;
  cursor: pointer;
  transition: all ease-in 0.2s;
  &:hover {
    background-color: rgb(240, 212, 212);
    transform: scale(1.1);
    color: crimson;
  }
}

.passwords {
  position: absolute;
  left: 15vw;
  top: 0px;
}

.invalid-container {
  #invalid-heading {
    font-size: 150px;
    position: absolute;
    top: 30vh;
    left: 25vw;
    font-weight: 600;
  }
  button {
    padding: 5px 15px 5px 15px;
    border: none;
    outline: none;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50vh;
    left: 45vw;
    transition: all ease-in 0.2s;
    &:hover {
      background-color: rgb(240, 212, 212);
      transform: scale(1.1);
      color: crimson;
    }
  }
}

#dashboard-button {
  padding: 5px 15px 5px 15px;
  border: none;
  outline: none;
  background-color: crimson;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 4vh;
  right: 10vw;
  transition: all ease-in 0.2s;
  text-decoration: none;
  &:hover {
    background-color: rgb(240, 212, 212);
    transform: scale(1.1);
    color: crimson;
  }
}
#signout {
  padding: 5px 15px 5px 15px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 4vh;
  right: 3vw;
  transition: all ease-in 0.2s;
  text-decoration: none;
  &:hover {
    background-color: rgb(240, 212, 212);
    transform: scale(1.1);
    color: crimson;
  }
}
