* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  z-index: 1;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)
    ),
    url("/images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  header {
    position: absolute;
    display: flex;
    right: 30px;
    line-height: 7vh;

    a {
      margin-left: 30px;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      color: rgb(96, 67, 97);
      transition: all ease-in-out 0.2s;
      outline: none;
      cursor: pointer;
      &:hover {
        color: rgb(164, 99, 123);
      }
    }
  }

  h1 {
    font-weight: 500;
    font-size: 150px;
    color: rgba($color: white, $alpha: 0.6);
    position: absolute;
    font-family: "Kaushan Script", cursive;
    left: 23vw;
    top: 40%;
  }

  #banner-btn {
    position: absolute;
    top: 63%;
    left: 48vw;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
    transition: all ease-in 0.2s;

    &:hover {
      background-color: white;
      border-radius: 20px;
    }
  }
}
